@import "firefox-gnome-theme/userChrome.css";

/* Hide bottom section of vertical tab bar */
.wrapper > div.buttons-wrapper:has(button-group.tools-and-extensions) {
  visibility: hidden !important;
  height: 0 !important;
  min-height: 0 !important;
}
#sidebar-tools-and-extensions-splitter {
  display: none !important;
}

/* Make sidebar easier to resize */
#sidebar-splitter,
#sidebar-launcher-splitter {
  min-width: 4px !important;
    background: linear-gradient(
      var(--gnome-sidebar-border-color),
      var(--gnome-sidebar-border-color)
    ) right / 1px 100% no-repeat !important;
  border-radius: 0 !important;
  margin-inline-start: -3px !important;
  margin-block-start: 0 !important;
}
