@import "firefox-gnome-theme/userChrome.css";

#nav-bar-overflow-button {
  display: none;
}

button[title="Customize sidebar"] {
  display: none;
}

:root[customtitlebar] {
  &[sizemode="normal"]:not([gtktiledwindow="true"]) #nav-bar {
    border-radius: 12px 12px 0 0 !important;
  }
}
