@import "firefox-gnome-theme/userChrome.css";

#nav-bar-overflow-button {
  display: none;
}

div.buttons-wrapper:has(button-group.tools-and-extensions),
#sidebar-tools-and-extensions-splitter {
  display: none !important;
}

#sidebar-main {
  min-width: 57px;
}

:root[customtitlebar] {
  &[sizemode="normal"]:not([gtktiledwindow="true"]) #nav-bar {
    border-radius: 12px 12px 0 0 !important;
  }
}
